
body {
  background-color: #ebebeb;
  margin-top: 10px;
}
header {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.boxed {
	text-align: center;
	max-width: 90vh;
	float: none;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
.col {
  float: none;
}
h1 {
  font-size: 80pt;
  font-family: 'Poppins', sans-serif;
  color: #A73333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
h2 {
  font-size: 25px;
  color: #000000;
  line-height: 30px;
  font-family: 'poppins', sans-serif;
  text-align: center;
}
ul {
  font-size: 16px;
  color: #000000;
  font-family: 'poppins', sans-serif;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}
a:link {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #FF9A45;
}
a:active {
  text-decoration: none;
  color: #000000;
}
